{% set myJs %}
  var retriever = { postUrl: '{{ actionUrl('retriever/index') }}' }
{% endset %}
{% includeJs myJs %}
{% includeJsResource "retriever/retriever.js" %}

<form id="retriever" name="retriever" class="retriever retriever-trigger" method="post" accept-charset="UTF-8">
  {{getCsrfInput()}}
  <input type="text" name="retrieverSearch" id="retriever-search" class="retriever-search">
</form>
