{% import "_includes/forms" as forms %}

<h2>Sections</h2>
<span>Select which sections will be searched.</span>

{% for section in craft.sections.getAllSections() %}
  {{ forms.checkboxField({
    label: section,
    id: 'sections-' ~ section.id,
    name: 'sections[]',
    value: section.handle,
    checked: ((section.handle in settings.sections) ? true : false)
  }) }}
{% else %}
  <p>No sections exist yet.</p>
{% endfor %}

<hr>

<h2>Template</h2>

{{ forms.textField({
  label: 'Template Path',
  instructions: 'If a custom results template should be used, enter the path here.',
  id: 'templatePath',
  name: 'templatePath',
  value: settings.templatePath,
})}}
